#!/usr/bin/env bash

export EDITOR='vim'

# Oracle
export SQLPATH="$HOME/oracle/instantclient_12_2"
export OCI_DIR="$SQLPATH"
export OCI_HOME="$SQLPATH"
export OCI_LIB_DIR="$OCI_HOME"
export OCI_INCLUDE_DIR="$OCI_HOME/sdk/include"
export TNS_ADMIN="$HOME/oracle/network/admin"
export NLS_LANG='AMERICAN_AMERICA.UTF8'

export LD_LIBRARY_PATH="$HOME/src/github.com/coretech/bossmoney-utils/customer_crusher/instantclient_12_2"
export PKG_CONFIG_PATH="$HOME/src/github.com/coretech/bossmoney-utils/customer_crusher/instantclient_12_2"

# Mono
export MONO_GAC_PREFIX='/usr/local'

# Go
export GO111MODULE=auto
