#!/usr/bin/env bash

grepl() {
  if [[ "$1" == '-k' ]]; then
    local killing='true'
    shift
  fi

  local processes=$(ps -e | grep "$@" | grep -v grep)

  if [[ -z $processes ]]; then
    echo "No processes matching $@." >&2
    return
  fi

  if [[ "$killing" == 'true' ]]; then
    hit_list=$(echo "$processes" | awk '{print $1}' )
    echo "$hit_list" | xargs kill -9
    echo 'KILLED:'
  else
    echo 'PROCESSES:'
  fi

  echo "$processes" | awk '{ if ($5) { print $1, $5 } else { print $1, $4 } }'
}

jfmt() {
  local tmpfile=$(mktemp)
  jq . -r -M -S $1 > $tmpfile
  cat $tmpfile > $1
  rm $tmpfile
}

dockerclean() {
  docker rm $(docker ps -a | grep Exited | awk '{print $1}')
  docker rmi $(docker images -q -f dangling=true)
  docker volume rm $(docker volume ls -qf dangling=true)
}
