[user]
	name = Michael Gruber
	email = michaelegruber@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[merge]
	tool = vimdiff
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
[cor]
	autocrlf = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
