#
# Dotfiles
#

.bash_history
.CFUserTextEncoding
.cups
.dropbox/
.fontconfig/
.gem/
.gnupg/
.guard_history
.heroku/
.irb-history
.local/
.rnd
.rubies/
.rvm/
.ssh/
.sbt/
.st3
.Trash/
.vagrant.d/
.viminfo
.cache/
.config/
.npm/
.pow


#
# OS X Folders
#

Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/


#
# My Folders
#

Notes
Projects/


#
# github/gitignore vim.gitignore
#

.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~