#
# Dotfiles
#

.bash_history
.CFUserTextEncoding
.cups
.dropbox/
.gem/
.guard_history
.irb-history
.rnd
.rvm/
.ssh/
.st3
.Trash/
.vagrant.d/
.viminfo


#
# OS X Folders
#

Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/


#
# My Folders
#

bin/
dev/
notes
work/


#
# github/gitignore vim.gitignore
#

.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~