#
# Dotfiles
#

.bash_history
.bundler/
.cache/
.CFUserTextEncoding
.config/
.conscript/
.cups
.dbshell
.dropbox/
.fontconfig/
.forever/
.gem/
.gnupg/
.guard_history
.heroku/
.irb-history
.ivy2
.local/
.mongorc.js
.netrc
.node-gyp/
.npm/
.pow
.powconfig
.powenv
.powrc
.profile
.pry_history
.rnd
.rvm/
.ssh/
.sbt/
.st3
.subversion/
.Trash/
.tnsnames.ora
.vagrant.d/
.viminfo
.vimundo/
.yeoman/
.zlogin
.zshrc


#
# OS X Folders
#

Applications/
Applications (Parallels)/
Desktop/
Documents/
Downloads/
Dropbox/
Google Drive/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/


#
# My Folders
#

Notes
Projects/
Writing/


#
# github/gitignore vim.gitignore
#

.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~


#
# Misc.
#

oradiag_*/
