[user]
  name = Michael Gruber
  email = mail@michaelgruber.me

[core]
  editor = "nvim -f"
  excludesfile = ~/.gitignore_global

[color]
  ui = true

[merge]
  tool = vimdiff

[alias]
  last = log -1 HEAD
  sync = pull --rebase upstream master
  unstage = reset HEAD --
  hide = update-index --skip-worktree
  unhide = update-index --no-skip-worktree
  hidden = "!git ls-files -v | awk -F' ' '$1 == \"S\" {$1=\"\"; print substr($0,2)}'"
  hideall = "!git status --porcelain | awk -F' ' '{ $1=\"\"; print substr($2,1) }' | xargs git hide"
  unhideall = "!git hidden | xargs git unhide"

[cor]
  autocrlf = false

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[push]
  default = simple

[github]
  user = michaelgruber
