[user]
	name = Michael Gruber
	email = mail@michaelgruber.me
[core]
	editor = "subl -n -w"
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[merge]
	tool = vimdiff
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
[cor]
	autocrlf = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	default = simple
